mixin movieBlock(movie={})
        .movieBlock
            h6=movie.title
            h6=movie.year
            h6=movie.rating
            h6=movie.synopsis
            h6=movie.genres
            h6=movie.uploadedAt